@import "tailwindcss";

@layer base {
  body {
    @apply bg-black text-white;
    overflow-x: hidden;
    position: relative;
  }

  html {
    overflow-x: hidden;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
